.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

#editor {
  display: flex;
  min-height: 600px;
  width: 100%;
}

#md-area {
  width: 100%;
  background: #f5f5f5;
}

#view-area {
  width: 100%;
}

#judge-view-area {
  width: 100%;
  border: 1px solid #111;
}

/*Github主题要求的样式引入*/
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.fileInput {
  display: none;
}

label[for="upload_target_file"] {
  color: white;
  background-color: #06f;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

label[for="upload_target_file"]:hover {
  background-color: #28f;
}

#upload_target_file:disabled + label[for="upload_target_file"] {
  background-color: #aaa;
  cursor: default;
}

#upload_progress_target {
  visibility: hidden;
}

#upload_progress_target.visible {
  visibility: visible;
}

.bg-color-green {
  background-color: #fff;
  color: #5cb85c;
}
.bg-color-blue {
  background-color: #fff;
  color: #4cb1cf;
}
.bg-color-red {
  background-color: #fff;
  color: #f0433d;
}
.bg-color-brown {
  background-color: #fff;
  color: #f0ad4e;
}
.back-footer-green {
  background-color: #5cb85c;
  color: #fff;
  border-top: 0px solid #fff;
}
.back-footer-red {
  background-color: #f0433d;
  color: #fff;
  border-top: 0px solid #fff;
}
